/* OVERAL STYLING FOR IFRAME REFERENCES */
body {
  margin: 0;
  font-family: "Lucida Grande";
  color: azure;
  /* background: linear-gradient( rgba(0,142,255,1) 0%, rgba(21,21,176,1) 50%, rgba(9,74,219) 97%); */
  background-color: rgb(19, 94, 136);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url(../img/list_bg.jpg); */
}
.frame {
  padding: 0 11.25rem;
}
.highlight, .summary{
  font-size:25px; 
  filter: drop-shadow(1px 2px 1px black);
}
.wadah {
  display:flex; 
  justify-content: space-evenly;
}
.wadah img, .wadah video {
  width: 16rem;
  border-radius: 10px;
  transition: 0.5s;
  border: 2px solid aquamarine;
  filter: drop-shadow(5px 5px 5px aqua);
  height: 15rem;
}
.wadah img:hover {
  transform: translateY(15px);
}
.wadah p {
  font-size: 20px
}
/* ABOUT.html */
.content-title {
font-size: 35px;
margin: 5px 0px;
font-family: sans-serif;
filter: drop-shadow(1px 3px 1px black);
}
/* Project.html all references */
.inner-content {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 3rem;
  display: flex;
  justify-content: center;
}